.Post {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
    padding: 40px;
    width: 832px;
}

.Post + .Post {
    margin-top: 2rem;
}

.Post > main{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 1.5rem;
}

.Post > main > p {
    line-height: 1.6;
    width: 47rem;
    font-size: 1rem;
}

.Post > main p a{
    text-decoration: none;
    color: var(--green-500);
    font-weight: bold;
    transition: 0.3s;
}

.Post > main p a + a{
    margin-left: 5px;
}

.Post > main p a:hover{
    color: var(--green-300);
}

.Post > header{
    display: flex;
    justify-content: space-between;
}

.Post > header img{
    width: 49px;
    height: 49px;
    border-radius: 8px;
    box-sizing: initial;
    border: solid var(--gray-800) 2px;
    outline: solid var(--green-500) 2px;
    object-fit: cover;
}

.Post > header .userInfo{
    display: flex;
    align-items: center;

    gap: 1rem;
    line-height: 1.6;
}

.Post > header .userInfo .box{
    display: flex;
    flex-direction: column;
    color: var(--gray-100);
}

.Post > header .userInfo p{
    color: var(--gray-400);
    font-size: 0.875rem;
}

.Post > header time{
    color: var(--gray-400);
    font-size: 0.875rem;
}

.Post form{
    margin-top: -0.1rem;
    padding-top: 1.5rem;
    border-top: solid 1px var(--gray-600);
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.Post form textarea{
    width: 100%;
    background: var(--gray-900);
    resize: none;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-300);
    height: 96px;
}

.Post form button[type=submit]{
    background: var(--green-500);
    width: fit-content;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 8px;
    color: var(--white);
    
    transition: 0.2s ease-in-out;
}

.Post form button[type=submit]:hover{
    background: var(--green-300);
}